.navlink li .active {
  @apply text-indigo-300 transition-all duration-300 
}

.container-style {
    height: 100vh; 
  }
  
#tsparticles {   
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
  }

  .profile_img {
    background: url(/Users/yushi/Projects/New-Portfolio/new-portfolio/src/assets/img/mymemoji.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
    justify-self: center;
    order: 1;
    width: 300px;
    height: 300px;
    animation: profile_animate 8s ease-in-out infinite 1s;
  }

  @keyframes profile_animate {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}

@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}